.w-wrap {
    word-wrap: break-word;
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: fixed;
    width: 100%;
    max-height: 8%;
}

nav a {
    color: #265a88;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 12pt;
    display: inline;
}

nav a:hover {
    text-decoration: none;
    color: #3c3c3c;
}

nav a:active {
    text-decoration: none;
}

nav a:after {
    text-decoration: none;
}

nav div {
    text-align: center;
}

#footer {
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #1b6d85;
    float: right;
    border-radius: 50%
}

.divWhiteColor {
    background-color: #cccccc;
}

.redColor {
    color: #ff715b;
    font-weight: bold;
}

.leftBorderColor {
    border-left: 1px solid #c1c1c1;
}

font {
    font-family: arial, sans-serif;
}

table, th, td {
    text-align: center;
    border-bottom: 6px solid #ffffff;
}

.blueRowColor {
    background-color: #D4DFF0;
}

.lightGreyRowColor {
    background-color: #f6f6f6;
}

.questionKeyWord p:hover {
    display: inline;
    transition: 0.3s;
    transform: rotateX(90deg);
    background-color: #5cb85c;
}

li {
    list-style-type: none;
}

li:before {
    content: "•";
    padding-right: 8px;
    color: orange;
    font-size: 200%;
}

.myImg {
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

hr {
    max-height: 1pt;
}

.marker {
    border-radius: 15%;
    color: midnightblue;
}

.marker.yellowMarker {
    background-color: rgba(245, 231, 158, 0.5);
}

.marker.yellowMarker:hover {
    background-color: rgba(245, 231, 158, 1);
    font-weight: bold;
}

.marker.yellowMarker p:hover {
    transform: scale(0, 1.1);
    transition: all 1s;
}

.marker.orangeMarker {
    background-color: rgba(255, 128, 0, 0.3);
}

.marker.orangeMarker:hover {
    background-color: rgba(255, 128, 0, 0.4);
    font-weight: bold;
}

.marker.orangeMarker p:hover {
    transform: scale(0, 1.1);
    transition: all 1s;
}